<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kepler Data Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>KEPLER DATA ANAYLSIS AND PLOTTING</h1>
        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="search">Search</a></li>
            </ul>
        </nav>
        <div class="stats">
            <h2>Database Statistics</h2>
            {% if stats %}
                {% for key, value in stats.items() %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            {% else %}
                <p>Latest statistics will be updated soon...</p>
            {% endif %}
        </div>
        <div>
            <h2>Importance of Graphs in Analyzing Kepler Data: </h2>
            <p>Graphs are used to interpret Kepler data by visually representing relationships between different variables, such as plotting stellar characteristics against the properties of exoplanets. Scatter plots can illustrate correlations, such as the relationship between a star's brightness and the size of its orbiting planets, while line graphs can depict trends over time, such as the discovery rate of exoplanets. Bar charts can summarize categorical data, such as the distribution of confirmed versus candidate planets, allowing for quick comparisons. Additionally, histograms can reveal the frequency distribution of various characteristics, such as stellar radii or planet sizes, aiding in the identification of common traits within the dataset. By employing these graphical methods, researchers can derive meaningful insights and facilitate a deeper understanding of the underlying astronomical phenomena.</p>
        </div>
        <div class="graph-controls">
            <h2>Select Graph Parameters</h2>
            <p>Choose the parameters accordingly to plot the graph.</p>
            <br>
            <form method="POST">
                <label for="x-axis">Select X-axis:</label>
                <select id="x-axis" name="x_axis">
                    <option value="koi_score">Koi Score</option>
                    <option value="koi_duration">Koi Duration</option>
                    <option value="koi_depth">Koi Depth</option>
                    <option value="koi_prad">Koi Planet Radius</option>
                    <option value="koi_steff">Koi Stellar Effective Temperature</option>
                    <option value="koi_slogg">Koi Stellar Log Surface Gravity</option>
                    <option value="koi_srad">Koi Stellar Radius</option>
                </select>
        
                <label for="y-axis">Select Y-axis:</label>
                <select id="y-axis" name="y_axis">
                    <option value="koi_score">Koi Score</option>
                    <option value="koi_duration">Koi Duration</option>
                    <option value="koi_depth">Koi Depth</option>
                    <option value="k oi_prad">Koi Planet Radius</option>
                    <option value="koi_steff">Koi Stellar Effective Temperature</option>
                    <option value="koi_slogg">Koi Stellar Log Surface Gravity</option>
                    <option value="koi_srad">Koi Stellar Radius</option>
                </select>
                <div>
                    <br>
                    <label for="graph-type">Select Graph Type:</label>
                    <select id="graph-type" name="graph_type">
                        <option value="scatter">Scatter Plot</option>
                        <option value="line">Line Graph</option>
                        <option value="bar">Bar Chart</option>
                    </select>
                </div>
                <br>
                <div>
                    <button type="submit">Plot Graph</button>
                </div>
                
            </form>
        </div>

        <div class="graph">
            <h3>Your Required Graph: </h3>
            {% if plot_url %}
                <img src="data:image/png;base64,{{ plot_url }}" alt="Exoplanet Graph">
            {% else %}
                <p>No graph available. Please select correct parameters.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>