<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Kepler Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="analysis">Analysis</a></li>
            </ul>
        </nav>
    <div class="container">
        <h1>Search Kepler Database</h1>
        <form method="POST">
            <label for="search_column">Select Column:</label>
            <select name="search_column" id="search_column" required>
                {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
            <input type="text" name="search_term" placeholder="Enter search term" required>
            <button type="submit">Search</button>
        </form>

        {% if results %}
        <h2>Search Results:</h2>
        <div class="table-scroll"> <!-- Added scrollable container -->
            <table>
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        {% for column in columns %}
                        <td>{{ result[column] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- End of scrollable container -->
        {% else %}
            <p>No results found. Please try a different search term.</p>
        {% endif %}
    </div>
</body>
</html>